__pycache__
.ipynb_checkpoints
__init__.py-*

*.log
ccat_datacenter_mock/*
logs/*
atm_cache/*
Planck_Parchment_RGB.txt

input_files/pysm3_map_nside2048_allStokes.fits

input_files/fp_files/dets_FP_PC280_1000_w12_updated.pkl
input_files/fp_files/dets_FP_PC280_750_w12_updated.pkl
input_files/fp_files/dets_FP_PC280_10_w12_updated.pkl

run_*

input_files/schedules/schedule_1scan.txt.bck

scripts/monitors/*
scripts/so_mlmap_logger.py
